body{
    font-family: 'Poppins', sans-serif;
}

.flex-container{
    display: flex;
    margin-top: 70px;
   
}
.half-width{
    width: 50%;margin: 5%;
    
}
.half-width img{
    height: 100%;
    width: 100%;
}
.half-width p{
    margin-bottom:60px;
    margin-top: 40px;
}
.heading{
    font-size: 50px;
    font-weight: 700;
    color: grey;
    margin: 0;
}
.orange{
    color: orange;
}
.order{
    text-decoration: none;
    padding: 20px 40px;
    background-image: linear-gradient(orange,tomato);
    color: white;
    border-radius: 25px;
  
}
.sec-two{
    height: 670px;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.sec-two img{
    width: 60%;
    height: 95%;
    margin: 5%;
    padding-left: 90px;
}
.s-half-width{
    padding: 80px 10px;
}
.s-half-width p{
    margin-bottom: 90px;
}
.flex-box
{
    display: flex;
    padding: 5px 40px;
}
.recipi-img-container{
    width: 40%;
    height: 420px;
    margin-left: 5%;
    
    border-radius: 7%;
    box-shadow: 10px 10px 30px gray;
    padding: 30px 35px;
}
.recipi-img img{
   width: 98%;
   height: 220px;
}
.description h4{
    font-weight: 800;
 font-size: 30px;
}
.Recipies h3 {
    text-align: center;
    font-size: 40px;
    color: grey;
}
#about-recipi{
    text-align: center;
    margin-bottom: 60px;
}
.section-four{
    display: flex;
    padding:10px;
    box-shadow: 2px 2px 5px 5px  rgb(189, 189, 189);
    width: 85%;
    margin: 100px 90px;
    border-radius: 16px;
}
.followers{
    width: 25%;
    margin: 2% 5%;
}
.followers h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 50px;
font-weight:1200;

}
.followers p{
    
    text-align: center;
    color: gray;
}
footer{
    background-color: black;
    padding: 20px 60px 70px 10px;
}
footer h2{
    text-align: center;
    color: gray;
}
footer p{
    color: white;
    text-align: center;
}